@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a class="btn btn-success text-center container-fluid pt-3" href="Product/GetAllProducts">
    <h4>Juleteen er på gaden, køb den her</h4>
</a>

<span class="brmedium"></span>
<div style="">
    <h1 style="text-align:center;">Blues Brews - dit eget teeventyr</h1>
    <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
    </p>
</div>

<div>
    <img src="~/img/placeholder.jpg" class="center img-thumbnail my-5" alt="blues brews te" height=350px width=1200px object-fit=fill />
</div>

<div class="container alert alert-secondary">
    <div class="row">
        <h2 style="text-align:center;">Populære produkter</h2>
    </div>

    <div class="row p-4 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
        @for(int i=1;i<5;i++)
        {
            var product = Model.ProductService.ProductList.ElementAt(i);
            <div class="pb-3 px-3">
                <div class="col card p-3">
                    <a asp-page="/Product/GetProduct" asp-route-id="@product.ID"><img src="/img/placeholder.jpg" class="card-img-top " alt="Billede af te"></a>
                    <div>
                        <h5 class="font-weight-bold">@product.Name</h5>
                        <p>@product.Description</p>
                        <a class="btn btn-primary" type="button" title="Se mere" asp-page="/Product/GetProduct" asp-route-id="@product.ID">Se mere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<span class="brlarge"></span>

<div class="container alert alert-secondary mb-5">
    <div class="row">
        <h2 style="text-align:center;">Nyheder og Events</h2>
    </div>
    <div class="row p-4 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
        @for (int i = 1; i < 5; i++)
        {
            var Event = Model.EventService.EventList.ElementAt(i);
            <div class="pb-3 px-3">
                <div class="col card p-3">
                    <a asp-page="/Events/GetAllAttendees" asp-route-id="@Event.ID"><img src="/img/placeholder.jpg" class="card-img-top " alt="Billede af te"></a>
                    <div>
                        <h5 class="font-weight-bold">@Event.Name</h5>
                        <p class="text-muted">ID: @Event.ID</p>

                        @{
                            DateTime endDateTime = Event.DateTime.AddMinutes(Event.Duration);
                            <p>
                                @Event.Location <br />
                                @Event.DateTime.ToString("dd-MM-yy")<br />
                                @Event.DateTime.ToString("HH:mm") - @endDateTime.ToString("HH:mm")
                            </p>
                        }

                        <p>@Event.Description</p>
                        <a class="btn btn-primary" type="button" title="Se mere" asp-page="/Events/GetAllAttendees" asp-route-id="@Event.ID">Se mere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>