@page
@model ProjectWebsite.Pages.Customer.UpdateCustomerModel
@{
}

<form method="post">
	<div class="form-group">
		<label asp-for="@Model.Pizza.Number" class="control-label"></label>
		<input asp-for="@Model.Pizza.Number" class="form-control" />
		<span asp-validation-for="@Model.Pizza.Number" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Pizza.Name" class="control-label"></label>
		<input asp-for="@Model.Pizza.Name" class="form-control" />
		<span asp-validation-for="@Model.Pizza.Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="@Model.Pizza.Price" class="control-label"></label>
		<input asp-for="@Model.Pizza.Price" class="form-control" />
		<span asp-validation-for="@Model.Pizza.Price" class="text-danger"></span>
	</div>

		<p>
			<div class="form-group">
				<input type="submit" value="Update" class="btn btn-primary" />
			</div>
		</p>
</form>

<p>
	<a asp-page="/Pizza/GetAllPizzas">Back to List</a>
</p>