@page
@model ProjectWebsite.Pages.Product.GetAllProductsModel
@{
}


<h1 class="pb-5 text-center">Vores Produkter</h1>


<div class="container">
    <div class="row">
        <div class="col-sm">

            <form method="post" class="form-inline">
                <input asp-for="SearchString" class="form-control mr-1 mb-2" placeholder="Søg på te-type" />
                <input type="submit" asp-page-handler="NameSearch" value="Søg" class="btn btn-primary mb-3" />
                <span asp-validation-for="@Model.SearchString" class="text-danger"></span>
            </form>


            <div class="card">
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted">Filtrer på pris</p>
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="MinPrice">Min pris</label>
                            <input asp-for="MinPrice" class="form-control" placeholder="0 kr" />
                        </div>
                        <div class="form-group">
                            <label asp-for="MaxPrice">Max pris</label>
                            <input asp-for="MaxPrice" class="form-control" placeholder="100 kr" />
                        </div>

                        <div>
                            <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary mt-2" />
                        </div>
                    </form>
                </div>
            </div>           
            
        </div>
        <div class="col-10">
            <div class="container">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-sm-1 col-lg-4 mb-3">
                            <div class="card" display="inline-block" style="width: 18rem;">
                                <a asp-page="GetProduct" asp-route-id="@product.ID"><img src="/img/placeholder.jpg" class="card-img-top" alt="Billede af te"></a>
                                <div class="card-body">
                                    <h5 class="card-title">@product.Name</h5>
                                    <p class="card-text">@product.Description</p>
                                    <a class="btn btn-primary" type="button" title="Se mere" asp-page="GetProduct" asp-route-id="@product.ID">Se mere</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
       
    </div>
</div>


    







       







