@page
@model ProjectWebsite.Pages.Kurv.KurvModel
@{
}
@if(Models.Order.Basket.Count == 0)
{
    <p>Kurven er tom</p>
}
else
{
    <table class="table table-hover table-light">

        <tr>
            <th>
                Produkt navn
            </th>
            <th>
                Antal
            </th>
            <th>
                Pris per styk
            </th>
            <th>
                Samlet pris
            </th>
            <th></th>
        </tr>

        @foreach (var element in Models.Order.Basket)
        {
            <tr>
                <td>
                    @element.Product.Name
                </td>
                <td>

                    <form method="post" class="form-inline">
                        <div class="form-group">
                            @element.Amount
                            <i class="px-3"></i>
                            <button class="btn btn-primary" type="submit" title="Minus en" asp-page-handler="Minus" asp-route-id="@element.ID"><i class="fa fa-minus"></i></button>
                            <button class="btn btn-primary" type="submit" title="Plus en" asp-page-handler="Plus" asp-route-id="@element.ID"><i class="fa fa-plus"></i></button>
                        </div>
                    </form>


                </td>
                <td>
                    @element.Product.Price
                </td>
                <td>
                    @(element.Amount * element.Product.Price)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" type="button" title="Slet podukt" asp-page="DeleteBasketProduct" asp-route-id="@element.ID"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

    </table>

    <p>Total pris - @Model.Total kr</p>
    <form method="post">
        <div class="form-group">

            <button class="btn btn-primary" type="submit" title="Videre" asp-page-handler="Forward">Videre</button>
        </div>
    </form>
}
