@page 
@model ProjectWebsite.Pages.Kurv.KurvModel
@{
}

<table class="table table-bordered table-hover table-striped table-opacity">
    <tr>
        <th>
            Produkt navn
        </th>
        <th>
            Produkt størrelse
        </th>
        @* <th>
        Mængde
        </th> *@
        <th>
            Pris per styk
        </th>
    </tr>

    @foreach (var element in Model.Kurv) 
    {
        <tr>
            <td>
                @element.Product.Name
            </td>
            @* <td>
        @element.SelectedPackage
        </td> *@
            <td>
                <form method="post">
                <input type="hidden" asp-for="@element.ID" />
                <div class="form-group" style="max-width: 3rem">
                    <label asp-for="@element.Amount" class="control-label"></label>
                    <input asp-for="@element.Amount" id="NewAmount" type="number" class="form-control" />
                    <span asp-validation-for="@element.Amount" class="text-danger"></span>



                        <a class="btn btn-primary btn-sm" type="button" title="Slet podukt" asp-page="EditAmount" asp-route-id="@element.ID" asp-route-amount="newAmount"><i class="fa fa-arrows-rotate"></i>

        </a>
                    </div>
                </form>
                
            </td>
            <td>
                @element.Product.Price
            </td>
            <td>
                <a class="btn btn-primary btn-sm" type="button" title="Slet podukt" asp-page="DeleteBasketProduct" asp-route-id="@element.ID"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    } 
</table>
<p>Total pris @Model.Total</p>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Email" class="control-label"></label>
        <input asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        @* asp-page-handler="Confirm" *@
        <input type="submit" value="Godkend" class="btn btn-success" />
        @* <input type="submit" value="Cancel" asp-page-handler="Cancel" class="btn btn-primary" /> *@
    </div>
</form>
