@page
@model ProjectWebsite.Pages.Kurv.KurvModel
@{
}

<table class="table table-bordered table-hover table-striped table-opacity">
	<tr>
		<th>
			Produkt navn
		</th>
		<th>
			Produkt størrelse
		</th>
		@* <th>
			Mængde
		</th> *@
		<th>
			Pris per styk
		</th>
	</tr>
    @foreach(Models.OrderLine element in Models.Order.basket)
    {
        <tr>
			<td>
				@element.Product.Name
			</td>
			@* <td>
				@element.SelectedPackage
			</td> *@
			<td>
				@element.Amount
			</td>
			<td>
				@element.Product.Price
			</td>
		</tr>

		
    }
</table>

<form method="post">
	<div class="form-group">
		<label asp-for="@Model.Email" class="control-label"></label>
		<input asp-for="@Model.Email" class="form-control" />
		<span asp-validation-for="@Model.Email" class="text-danger"></span>
	</div>
	<div class="form-group">
		@* asp-page-handler="Confirm" *@
		<input type="submit" value="Godkend" class="btn btn-success" />
		@* <input type="submit" value="Cancel" asp-page-handler="Cancel" class="btn btn-primary" /> *@
	</div>
</form>
