@page
@model ProjectWebsite.Pages.Events.GetAllAttendeesModel
@{
}


<h1>Deltagere</h1>
<h3>Event: @Model.Event.EventName</h3>
<h4>Event Dato: @Model.Event.EventDateTime</h4>

<table class="table table-hover table-light">
	<colgroup> @* Not mobile friendly *@
		<col style="width : 5%">
		<col style="width : 77%">
		<col style="width : 9%">
		<col style="width : 9%">
	</colgroup>
	<thead>
		<tr>
			<th scope="col" class="d-none d-sm-table-cell">
				ID
			</th>
			<th scope="col">
				Name
			</th>
			<th scope="col">
				Address
			</th>
			<th scope="col" class="d-none d-sm-table-cell">
				E-mail
			</th>
			<th scope="col">
				Telefonnummer
			</th>
			<th scope="col" class="d-none d-sm-table-cell">
				
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Event.EventAttendees != null)
		{
			foreach (var c in Model.Event.EventAttendees)
			{
				<tr>
					<th scope="row" class="d-none d-sm-table-cell">
					@c.ID
				</th>
				<td>
					@c.Name
				</td>
				<td>
					@c.Address
				</td>
					<td class="d-none d-sm-table-cell">
					@c.Email
				</td>
				<td>
                    @c.PhoneNumber
				</td>
				<td class="d-none d-sm-table-cell">
					<a class="btn btn-danger" type="button" ><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			}
		}
	</tbody>
</table>

<p>
	Ikke kunde endnu?
	Opret dig her og tilmeld dig spændende events!
	<a class="btn btn-primary" asp-page="Customer/CreateCustomer"> Bliv oprettet som kunde </a>
</p>