@page
@model ProjectWebsite.Pages.Events.GetAllEventsModel
@{
}

<h1>Eventoversigt</h1>

<div class="row">
	<div class="col-4"></div>
	<div class="col-4"><h5>Søg på eventnavn</h5></div>
	<div class="col-4"></div>
</div>

<div class="row">
	<div class="col-4">
		<form method="post" class="form-inline">
			<div class="input-group mb-3">
				<input asp-for="SearchEvent" class="form-control mr-1" placeholder="sorter i events" />
				<input type="submit" asp-page-handler="EventSearch" value="Search" class="btn btn-primary" />
			</div>
		</form>
	</div>

	<div class="col-5"></div>
	<div class="col-2"></div>
</div>

<table class="table table-bordered table-hover table-striped table-opacity" width="60%">
    <colgroup>
        <col style="width : 5%">
        <col style="width : 77%">
        <col style="width : 9%">
        <col style="width : 9%">
    </colgroup>
    <thead>
        <tr class="btn-secondary active">
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Location
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.EventList != null)
        {
            foreach (var e in Model.EventList)
            {
                <tr class="btn-secondary">
                    <td>
                        @e.ID
                    </td>
                    <td>
                        @e.EventName
                    </td>
                    <td>
                        @e.EventDescription
                    </td>
                    <td>
                        @e.EventLocation
                    </td>
                    <td>
                        @e.EventDateTime.ToString("dd-MM-yy")
                    </td>
                    <td>
                        @{
                            DateTime endDateTime = e.EventDateTime.AddMinutes(e.EventDuration);
                            <p>@e.EventDateTime.ToString("HH:mm") - @endDateTime.ToString("HH:mm")</p>
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" type="button" title="Update" asp-page="UpdateEvent" asp-route-id="@e.ID"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteEvent" asp-route-id="@e.ID"><i class="fa fa-trash"></i></a>
                        <a class="btn btn-primary btn-sm" type="button" title="GetAllAttendees" asp-page="GetAllAttendees" asp-route-id="@e.ID"><i class="fa-solid fa-users"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-page="CreateEvent"> Opret et ny event </a>
</p>

<div class="container alert alert-secondary mb-5">
    <div class="row">
        <h2 style="text-align:center;">Nyheder og Events</h2>
    </div>

    <div class="row d-flex justify-content-between px-2 pb-5 px-md-5 pb-md-4 pt-2">

        @if (Model.EventList != null)
        {
            @foreach (var e in Model.EventList)
            {
                <div class="card col-9 col-md-6 col-lg-4 m-3">
                    <a asp-page="GetProduct" asp-route-id="Events.ID"><img src="/img/placeholder.jpg" class="card-img-top" alt="Billede af te"></a>
                    <div class="card-body">
                        <h5 class="card-title">@e.EventName</h5>
                        <p class ="card-text">ID: @e.ID</p>
                        <p class="card-text">@e.EventDescription</p>
                        @e.EventLocation
                        @*  <a class="btn btn-primary" type="button" title="Se mere" asp-page="GetProduct" asp-route-id="product.ID">Se mere</a> *@
                        @e.EventDateTime.ToString("dd-MM-yy")
                        @{
                            DateTime endDateTime = e.EventDateTime.AddMinutes(e.EventDuration);
                            <p>@e.EventDateTime.ToString("HH:mm") - @endDateTime.ToString("HH:mm")</p>
                        }
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary btn-sm p-3" type="button" title="Update" asp-page="UpdateEvent" asp-route-id="@e.ID"> <i class="fa fa-edit"></i> </a>
                            <a class="btn btn-danger btn-sm p-3" type="button" title="Delete" asp-page="DeleteEvent" asp-route-id="@e.ID"> <i class="fa fa-trash"></i> </a>
                            <a class="btn btn-primary btn-sm p-3" type="button" title="GetAllAttendees" asp-page="GetAllAttendees" asp-route-id="@e.ID"> <i class="fa-solid fa-users"></i> </a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>