@page "{id:int}"
@model ProjectWebsite.Pages.Events.GetEventModel
@{
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-6 fw-bolder">@Model.Event.Name</h1>

                <p class="lead">@Model.Event.Description</p>

                    @{ DateTime endDateTime = Model.Event.DateTime.AddMinutes(Model.Event.Duration);
                        <p>
                            Pris: @Model.Event.Cost kr <span class="brxmedium"></span>
                            Sted: @Model.Event.Location <span class="brxmedium"></span>
                            Dato: @Model.Event.DateTime.ToString("dd-MM-yy") <span class="brxmedium"></span>
                            Tidspunkt: @Model.Event.DateTime.ToString("HH:mm") - @endDateTime.ToString("HH:mm") <span class="brxmedium"></span>
                            Arrangoer: @Model.Event.Organizer
                        </p>
                    }

                <div class="form-group d-flex justify-content-left">
                    <form method="post">
                        <button type="submit" title="AddEventToBasket" class="btn btn-success" asp-route-postid="@Model.Event.ID" asp-page-handler="AddEventToBasket"><i class="fa-solid fa-shopping-basket"></i> Tilføj til kurv</button>
                    </form>
                    <button type="button" title="GetAllAttendees" class="btn btn-info" asp-page="GetAllAttendees" asp-route-id="@Model.Event.ID"><i class="fa-solid fa-users"></i> Deltagere</button>
                    <button type="button" title="Tilbage" class="btn btn-danger" onclick="window.location.href='@Url.Page("GetAllEvents")'"><i class="fa-solid fa-arrow-left"></i> Tilbage</button>
                </div>

                @if (Models.Order.Basket.Any(OrderLine => OrderLine.Product.ID == Model.Event.ID))
                {
                    <span class="brxmedium"></span>
                    <h3 class="text-success text-left">Event tilføjet kurven</h3>
                }

            </div>
        </div>
    </div>
</section>