@page
@model ProjectWebsite.Pages.Events.UpdateEventModel
@{
}

<span class="brlarge"></span>
<div class="row justify-content-center">
    <div class="col-9 col-xs-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 p-4 alert alert-secondary">
        <form method="post">

            <div class="form-group">
                <label asp-for="@Model.Event.ID" class="control-label"></label>
                <input asp-for="@Model.Event.ID" class="form-control" readonly />
                <span asp-validation-for="@Model.Event.ID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.Name" class="control-label"></label>
                <input asp-for="@Model.Event.Name" class="form-control" />
                <span asp-validation-for="@Model.Event.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.Location" class="control-label"></label>
                <input asp-for="@Model.Event.Location" class="form-control" />
                <span asp-validation-for="@Model.Event.Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.DateTime" class="control-label"></label>
                <input asp-for="@Model.Event.DateTime" class="form-control" />
                <span asp-validation-for="@Model.Event.DateTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.Duration" class="control-label"></label>
                <input asp-for="@Model.Event.Duration" class="form-control"/>
                <span asp-validation-for="@Model.Event.Duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.Description" class="control-label"></label>
                <input asp-for="@Model.Event.Description" class="form-control" />
                <span asp-validation-for="@Model.Event.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.Cost" class="control-label"></label>
                <input asp-for="@Model.Event.Cost" class="form-control" />
                <span asp-validation-for="@Model.Event.Cost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.Capacity" class="control-label"></label>
                <input asp-for="@Model.Event.Capacity" class="form-control" />
                <span asp-validation-for="@Model.Event.Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Event.Organizer" class="control-label"></label>
                <input asp-for="@Model.Event.Organizer" class="form-control" />
                <span asp-validation-for="@Model.Event.Organizer" class="text-danger"></span>
            </div>

            <p>
                <div class="form-group d-flex justify-content-between">
                    <input type="submit" value="Opdater" class="btn btn-success" />
                    <input type="submit" asp-page-handler="Cancel" value="Fortryd" class="btn btn-danger" />
                </div>
            </p>

        </form>
    </div>
</div>